{{#if currentUser}}
  <h1 class="text-3xl font-medium title-font text-gray-900 mb-12 text-center">You are logged in as {{currentUser.details.username}}</h1>
  <h1 class="text-3xl font-medium title-font text-gray-900 mb-12 text-center">Redirecting you back to the home page </h1>
  <img src="https://media.tenor.com/On7kvXhzml4AAAAj/loading-gif.gif" style="display: block; margin-left: auto; margin-right: auto; width: 80px; height: 80px;">
  <meta http-equiv="refresh" content="1; url='/{{currentUser.details.username}}'"/>
{{else}}

<header class="text-gray-600 body-font">
  <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center">
    <a class="flex title-font font-medium items-center text-gray-900 mb-4 md:mb-0" href="/">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-10 h-10 text-white p-2 bg-indigo-500 rounded-full" viewBox="0 0 24 24">
        <path d="M12 2L2 7l10 5 10-5-10-5zM2 17l10 5 10-5M2 12l10 5 10-5"></path>
      </svg>
      <span class="ml-3 text-xl">Blogging2Nite</span>
    </a>
    <nav class="md:mr-auto md:ml-4 md:py-1 md:pl-4 md:border-l md:border-gray-400	flex flex-wrap items-center text-base justify-center">
      <a class="mr-5 hover:text-gray-900" href="/">Home</a>
      <a class="mr-5 hover:text-gray-900" href="/about">About us</a>
        {{#if currentUser}}
            <a href="/user/logout">Logout</a>
        {{/if}}
    </nav>
    {{#if currentUser}}
      <button class="inline-flex items-center bg-gray-100 border-0 py-1 px-3 focus:outline-none hover:bg-gray-200 rounded text-base mt-4 md:mt-0"><a href="/{{currentUser.details.username}}">Go to dashboard</a>
        <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-1" viewBox="0 0 24 24">
          <path d="M5 12h14M12 5l7 7-7 7"></path>
        </svg>
    
      </button>
    {{/if}}
  </div>
  
</header>

<strong><center><h1 class="ml-3 text-xl p-5">Welcome!</h1></center></strong>
<center><p>Looking to start your own blog but don't know where to begin? Get started below!</p></center>

<section class="text-gray-600 body-font">
  <div id="mainback" class="container px-5 py-24 mx-auto">
    <div class="flex flex-wrap -mx-4 -mb-10 text-center">
      <div class="sm:w-1/2 mb-10 px-4">
        <div class="rounded-lg h-64 overflow-hidden">
          <img alt="content" class="object-cover object-center h-full w-full" src="assets/images/pexels-andrea-piacquadio-3777727.jpg">
        </div>
        <h2 class="title-font text-2xl font-medium text-gray-900 mt-6 mb-3">Login To Your Account</h2>
        {{#if currentUser}}
          <button class="flex mx-auto mt-6 text-white bg-indigo-500 border-0 py-2 px-5 focus:outline-none hover:bg-indigo-600 rounded"><a href="/app-index">Sign In</a></button>
          {{else}}
          <button class="flex mx-auto mt-6 text-white bg-indigo-500 border-0 py-2 px-5 focus:outline-none hover:bg-indigo-600 rounded"><a href="/user/login">Sign In</a></button>
        {{/if}}   

      </div>
      <div class="sm:w-1/2 mb-10 px-4">
        <div class="rounded-lg h-64 overflow-hidden">
          <img alt="content" class="object-cover object-center h-full w-full" src="assets/images/pexels-adrienn-1524105.jpg">
        </div>
        <h2 class="title-font text-2xl font-medium text-gray-900 mt-6 mb-3">New Here?</h2>
        {{#if currentUser}}
          <button class="flex mx-auto mt-6 text-white bg-indigo-500 border-0 py-2 px-5 focus:outline-none hover:bg-indigo-600 rounded"><a href="/app-index">Sign Up</a></button>
          {{else}}
          <button class="flex mx-auto mt-6 text-white bg-indigo-500 border-0 py-2 px-5 focus:outline-none hover:bg-indigo-600 rounded"><a href="/user/signup">Sign Up</a></button>
        {{/if}}
      </div>
    </div>
  </div>
</section>
{{/if}}

